<!--@* Style sheet for upvote/downvote buttons *@-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  /* Styling upvote/downvote buttons, from https://www.w3schools.com/howto/howto_css_icon_buttons.asp */
  .btn-arrow-up {
    color: black; /* White text */
    padding: 5px 8px; /* Some padding */
    font-size: 20px; /* Set a font size */
    margin: 0px 0px 0px 0px; /* Some margin */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btn-arrow-down {
    color: black; /* White text */
    padding: 5px 8px; /* Some padding */
    font-size: 20px; /* Set a font size */
    margin: 0px 10px 0px 10px; /* Some margin */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Red background on mouse-over */
  .btn-arrow-up:hover {
    color: rgb(193, 26, 26);
  }

  /* Blue background on mouse-over */
  .btn-arrow-down:hover {
    color: rgb(20, 130, 167);
  }

  /* Styling the links */
  .links {
    text-decoration: none;
  }

  .links:hover {
    text-decoration: underline;
    color: lightblue;
  }
</style>

<!-- Title -->
<h3 class="my-5">{{ post.Title }}</h3>

<div class="row gx-5">

  <!-- Image -->
  <img alt="{{ post.ImageUrl }}" [src]="post.ImageUrl" class="img-fluid col-5" />

  <div class="col-7">
    <!-- Description Text -->
    <h5>{{ post.Text }}</h5>

    <!-- Name of user and their credibility score -->
    <h5>
      Posted by: <a class="links" [routerLink]="['/userprofile', user.UserId]">{{ user.Name }}</a> {{user.Credebility}} <a class="links" [routerLink]="['/credsinfo']">creds</a>
      <!--<a class="links" asp-controller="User"
                    asp-action="UserProfile"
                    asp-route-id="@Model.Post.UserId">@Model.User.Name</a> <span>@Model.User.Credebility creds</span>-->
    </h5>

    <hr />

    <!-- BUTTONS -->
    <div style="margin-bottom:10px">
      <!-- BACK button -->
      <a class="btn btn-secondary" href="/posts">Back</a>
      
      <!-- EDIT and DELETE buttons (only accessible after logging in) -->
      <button class="btn btn-secondary" [routerLink]="['/postform', 'edit', post.PostId]" [disabled]="!isYourPost">Edit</button>
      <button class="btn btn-secondary" (click)="deletePost(post)" [disabled]="!isYourPost">Delete</button>
      
      <!-- Post date -->
      <h5 class="pull-right">{{ post.PostDate }}</h5>
    </div>

    <!--@* The voting buttons *@-->
    <div>
      <!--@{
      //  This is a complicated way of writing:
      //    string vote = ViewData["Vote"].ToString();
      //   but this way gives warnings of possible null reference. Since both the ToString()
      //   method and ViewData[] method gives this warning, this is implemented.
      string vote = (ViewData["Vote"] ?? "").ToString() ?? "";
      }-->
      <!--@* UPVOTE *@-->
      <!--@if (vote == "upvote")
      {-->
      <a id="upvoteButton" class="btn-arrow-up" (click)="setUpvote()"><i class="fa fa-arrow-up"></i></a>
      <a id="downvoteButton" class="btn-arrow-down" (click)="setDownvote()"><i class="fa fa-arrow-down"></i></a>
      <!--}-->
      <!--@* DOWNVOTE *@
      else if (vote == "downvote")
      {
      <a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.Post.PostID"><i class="fa fa-arrow-up"></i></a>
      <a class="btn-arrow-down" style="color: rgb(20, 130, 167);" asp-action="DownVote" asp-route-id="@Model.Post.PostID"><i class="fa fa-arrow-down"></i></a>
      }
      @* DEFAULT *@
      else
      {
      <a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.Post.PostID"><i class="fa fa-arrow-up"></i></a>
      <a class="btn-arrow-down" asp-action="DownVote" asp-route-id="@Model.Post.PostID"><i class="fa fa-arrow-down"></i></a>
      }-->
    <!-- Vote count -->
    <span style="font-size:20px">{{post.UpvoteCount}}</span>
    <!-- Link to the post's subforum -->
    <h5 class="pull-right">
      <a class="links" [routerLink]="['/subforumposts', post.SubForum]">{{ post.SubForum }}</a>
    </h5>
  </div>
</div>
</div>

<br />

<!--@* COMMENTS *@-->
<div class="container">
  <!--@* Create new comment *@-->
  <p>
    <!--COMMENT button-->
    <button class="btn btn-secondary" [disabled]="commentCreateForm.invalid || !isSignedIn" (click)="toggleCommentBox('newComment')">Comment</button>
  </p>

  <!--@* This form is for sending the new comment to the controller *@-->
  <!-- Should be handled in component. -->
  <!--<div asp-validation-summary="All" class="text-danger"></div>-->

  <div id="newComment" style="display:none">
    <form [formGroup]="commentCreateForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="commenttext" formControlName="commenttext" class="form-control" />
        <div *ngIf="commenttext.invalid && (commenttext.dirty || commenttext.touched)"
             class="alert alert-danger">
          <div *ngIf="commenttext.errors?.['required']">Comment is required.</div>
          <div *ngIf="commenttext.errors?.['minlength']">
            Comment must be at least 2 characters long.
          </div>
        </div>
      </div>
      <button style="margin: 0px 0px 10px 5px" type="submit" class="btn btn-primary" [disabled]="commentCreateForm.invalid || !isSignedIn">Post</button>
    </form>
</div>

  <!--@* Displaying all comments in a table *@-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Date</th>
        <th>User</th>
        <th>
          <a class="links" [routerLink]="['/credsinfo']">Creds</a>
        </th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let comment of comments; index as i">
        <!--@*
        <- This block is for editing and deleting a comment *@-->
        <td>
          <div id="editON {{comment.CommentID}}" style="display:none">
            <!--@using (Html.BeginForm("Update", "Comment"))
    {-->
            <form [formGroup]="commentForm" (ngSubmit)="onUpdate()">
              <div class="form-group">
                <input type="text" id="commenttext" formControlName="commenttext" class="form-control" value="{{comment.CommentText}}" />
                <input type="text" id="commentid" formControlName="commentid" class="form-control" value="@comment.CommentID" hidden />
                <input type="text" id="postdate" formControlName="postdate" class="form-control" value="@comment.PostDate" hidden />
                <input type="text" id="userid" formControlName="userid" class="form-control" value="@comment.UserId" hidden />
                <input type="text" id="postid" formControlName="postid" class="form-control" value="@comment.PostID" hidden />
              </div>
              <button style="margin: 0px 0px 10px 5px" type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">Post</button>
            </form>
            <!--<input type="text" name="CommentText" value="@comment.CommentText">
    <button style="margin: 0px 0px 10px 5px" type="submit" class="btn btn-primary">Post</button>-->
            <!--}
    DELETE button-->
            <button class="btn btn-danger" (click)="deleteComment(comment)">Delete</button>
          </div>
          <div id="editOFF {{comment.CommentID}}" style="display:block">{{comment.CommentText}}</div>
          <!--@* -> *@-->

        </td>
        <td>{{comment.PostDate}}</td>
        <td>{{comment.user.Name}}</td>
        <td>{{comment.user.Credebility}}</td>
        <td>
          <button class="btn btn-secondary" (click)="toggleEdit(comment.CommentID.toString()); readyUpdate(comment.CommentID)" [disabled]="!isSignedIn || !(comment.user.IdentityUserId == signedInId)">Edit</button>
        </td>
      </tr>
    </tbody>
    <!--}-->
  </table>
</div>
