<h2>{{ isEditMode ? "Update" : "Create" }} post</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <input type="text" id="upvotecount" formControlName="upvotecount" class="form-control" hidden />
  <input type="text" id="postdate" formControlName="postdate" class="form-control" hidden />
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" class="form-control" />
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">
      <div *ngIf="title.errors?.['required']">Title is required.</div>
      <div *ngIf="title.errors?.['minlength']">
        Title must be at least 2 characters long.
      </div>
      <div *ngIf="title.errors?.['pattern']">
        Title can not contain special characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="text">Text:</label>
    <input type="text" id="text" formControlName="text" class="form-control" />
    <div *ngIf="text.invalid && (text.dirty || text.touched)"
         class="alert alert-danger">
      <div *ngIf="text.errors?.['required']">Text is required.</div>
      <div *ngIf="text.errors?.['minlength']">
        Text must be at least 4 characters long.
      </div>
    </div>
  </div>
  <label for="subforums">Choose a subforum: </label>
  <select class="form-control" name="subforums" id="subforums" [(ngModel)]="selectedForum" [ngModelOptions]="{standalone: true}">
    <!--<option value="volvo">Volvo</option>
    <option value="saab" [selected]="true">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>-->
    <option *ngFor="let forum of subforums" [ngValue]="forum['name']">{{forum.name}}</option>
  </select>
  <div class="form-group">
    <label for="imageUrl">Image Url:</label>
    <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" placeholder="/assets/images/books.jpg" />
  </div>
  <button name="submitBtn" class="btn btn-primary" type="submit" [disabled]="postForm.invalid || !isSignedIn">
    {{ isEditMode ? "Update" : "Create"}} post
  </button>
  <button class="btn btn-secondary" (click)="backToPosts()">Cancel</button>
  <div *ngIf="!isSignedIn">Login to {{ isEditMode ? "Update" : "Create"}} post</div>
</form>
