<h2>{{ isEditMode ? "Update" : "Create" }} post</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <input type="text" id="upvotecount" formControlName="upvotecount" class="form-control" hidden />
  <input type="text" id="postdate" formControlName="postdate" class="form-control" hidden />
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="text">Text:</label>
    <input type="text" id="text" formControlName="text" class="form-control" />
  </div>
  <label for="subforums">Choose a subforum: </label>
  <select name="subforums" id="subforums" [(ngModel)]="selectedForum" [ngModelOptions]="{standalone: true}">
    <!--<option value="volvo">Volvo</option>
    <option value="saab" [selected]="true">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>-->
    <option *ngFor="let forum of subforums" [ngValue]="forum['name']">{{forum.name}}</option>
  </select>
  <div class="form-group">
    <label for="imageUrl">Image Url:</label>
    <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
  </div>
  <button name="submitBtn" class="btn btn-primary" type="submit" [disabled]="postForm.invalid || !isSignedIn">
    {{ isEditMode ? "Update" : "Create"}} post
  </button>
  <button class="btn btn-secondary" (click)="backToPosts()">Cancel</button>
  <div *ngIf="!isSignedIn">Login to {{ isEditMode ? "Update" : "Create"}} post</div>
</form>
