<!-- Welcome text -->
<h1 style="text-align:center;">Main Feed</h1>

<!-- Inherits another view called _PostsTable -->
<!--<button class="btn btn-secondary" (click)="testNavigate()">Test</button>-->
<!--@* Classic View *@-->
<!--@* Style sheet for upvote/downvote buttons *@-->
<head>
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  /* Styling upvote/downvote buttons, from https://www.w3schools.com/howto/howto_css_icon_buttons.asp */
  .btn-arrow-up {
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btn-arrow-down {
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  /* Red background on mouse-over */
  .btn-arrow-up:hover {
    color: rgb(193, 26, 26);
  }

  /* Blue background on mouse-over */
  .btn-arrow-down:hover {
    color: rgb(20, 130, 167);
  }

  /* Styling the links */
  .links {
    text-decoration: none;
  }

    .links:hover {
      text-decoration: underline;
      color: lightblue;
    }
</style>

<!-- This is a button from the Demos. Its not used now because getPosts() is called on Init. -->
<!--<button class="btn btn-primary" (click)="getPosts()">Get posts</button>-->

<div class="row">
  <div class="col-md-2">Filter by:</div>
  <div class="col-md-4">
    <input type="text"
           [(ngModel)]="listFilter" />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
</div>

<!--@* CREATE and CARD view buttons *@-->
<div class="container" style="text-align:center">
  <div>
    <!-- New method: -->
    <button class="btn btn-primary" [routerLink]="['/postform', 'create', -1]">Create New post</button>
    <!-- Old method: -->
    <a class="btn btn-secondary"
       asp-controller="Post"
       asp-action="Create">Create Post</a>
    <a class="btn btn-secondary" href="/Post/Card">Card View</a>
  </div>
</div>

<!--@* Posts (main feed) *@-->
<div style="text-align:center" data-bs-theme="dark">
  <h1>{{ viewTitle }}</h1>
  <table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th style="display: none">ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>User</th>
        <th>Image</th>
        <th>Actions</th>
        <th>Votes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of filteredPosts; index as i">
        <td>
          <!-- Title (a link to the detailed view of this post) -->
          <a [routerLink]="['/detailedpost', post.PostId]">{{ post.Title }}</a>
        </td>

        <!-- Post date -->
        <!--<td>@Model.ElementAt(i).PostDate</td>-->
        <td>{{ post.PostDate | simpleDateFormat }}</td>

        <!-- User -->
        <td>{{ post.user.Name }}</td>
        <td>
          <!-- Image -->
          <img [src]="post.ImageUrl" alt="Post image" style="max-width: 100px; max-height: 100px;" />
        </td>
        <td>
          <!--<a [routerLink]="['/postform', 'edit', post.PostId]">Update</a>-->
          <!--<a class="delete-link" (click)="deletePost(post)">Delete</a>-->
          <!--@* The voting buttons *@-->
          <!--@{-->
          <!--//  Gets the votes from the controller in a ViewData, and formats it as
          //   a list. Checks if the user has voted on the post before, and displays
          //    the correct arrows with correct colors.-->
          <!--var votes = ViewData["Votes"] as List<string>
          ;
          if (votes == null)
          {-->
          <!--//  If the viewdata doesnt contain any votes, then an error occured at server. A dummy list
          //   with the same length as list of posts is created with dummy values.-->
          <!--votes = new List<string>
            ();
            for (int o = 0; o < Model.Count(); o++)
            {
            votes.Add("blank");
            }
          }
          }-->
          <!--@* UPVOTE *@-->
          <!--@if (@votes.ElementAt(i) == "upvote")
          {
          <a class="btn-arrow-up" style="color: rgb(193, 26, 26);" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>
          <a class="btn-arrow-down" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>
          }-->
          <!--@* DOWNVOTE *@-->
          <!--else if (@votes.ElementAt(i) == "downvote")
          {
          <a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>
          <a class="btn-arrow-down" style="color: rgb(20, 130, 167);" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>
          }-->
          <!--@* DEFAULT *@-->
          <!--else
          {-->
          <!--<a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>-->
          <!--<a class="btn-arrow-down" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>-->
          <!--}-->
          <!-- Link to the detailed view of this post -->
          <!--<a class="btn btn-secondary" asp-controller="Post" asp-action="DetailedPost" asp-route-id="@Model.ElementAt(i).PostID">Reply</a>-->
        </td>
        <!-- Vote count -->
        <!--<td>@Model.ElementAt(i).UpvoteCount</td>-->
      </tr>
    </tbody>
    <!--}  -->
  </table>
</div>




