<!-- Welcome text -->
<h1 style="text-align:center;">SubForums</h1>

<!--@* CREATE and CARD view buttons *@-->
<div class="container" style="text-align:center">
  <div>
    <!-- New method: -->
    <button style="margin:5px" class="btn btn-primary" [routerLink]="['/postform', 'create', -1]">Create Post</button>
    <a style="margin:5px" class="btn btn-secondary" [routerLink]="['/postscard']">Card View</a>
    <a style="margin:5px" class="btn btn-secondary" (click)="toggleFilter('filter')">Filter</a>
    <!-- Old method: -->
    <!--<a class="btn btn-secondary"
     asp-controller="Post"
     asp-action="Create">Create Post</a>-->
  </div>
</div>

<!-- Dropdown list for subforums. When an option is selected, it will automatically redirect. -->
<label for="subforums">Choose a subforum: </label>
<form>
  <select style="margin-bottom: 20px" class="form-control" name="subforums" id="subforums" [(ngModel)]="selectedForum" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let forum of subforums" [ngValue]="forum['name']">{{forum.name}}</option>
  </select>
</form>

<!-- FILTER AREA -->
<div id="filter" style="display:none; text-align:left">
  <div class="row">
    <div class="col-md-4">
      <input style="margin:0px 10px 10px 0px" type="text" id="input" [(ngModel)]="listFilter" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Filtered by: {{listFilter}}</h4>
    </div>
  </div>
</div>

<!--@* Posts (main feed) *@-->
<div style="text-align:center">
  <table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th style="display: none">ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>User</th>
        <th>Image</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of filteredPosts; index as i">
        <td>
          <!-- Title (a link to the detailed view of this post) -->
          <a [routerLink]="['/detailedpost', post.PostId]">{{ post.Title }}</a>
        </td>

        <!-- Post date -->
        <td>{{ post.PostDate }}</td>

        <!-- User -->
        <td>{{ post.user.Name }}</td>
        <td>
          <!-- Image -->
          <img [src]="post.ImageUrl" alt="Post image" style="max-width: 100px; max-height: 100px;" />
        </td>
      </tr>
    </tbody>
  </table>
</div>




