<!--@* User Profile *@-->

<!--
This page is for displaying the profile of a user. If this page is the userprofile for
the logged in user, then there is also a button redirecting to the Manage Account page
provided by Microsoft.AspNetCore.Identity.
-->

<div style="margin: 0 auto; text-align:center">
  <!-- Username -->
  <h1><b>{{user.Name}}</b><button style="margin-left: 20px"class="btn btn-secondary" onclick="history.back()">Back</button></h1>

  <!-- Manage account -->
  <!--@if (SignInManager.IsSignedIn(User) && Model.User.IdentityUserId == UserManager.GetUserId(User))-->
  <h3 *ngIf="isYourPage">
    Manage <a [routerLink]='["/authentication/profile"]' title="Manage">account</a>
  </h3>

  <br />

  <!-- Credibility score -->
  <h2>Credebility score: <i>{{user.Credebility}}</i></h2>
  <h4>
    Read <a [routerLink]="['/credsinfo']">more</a>
  </h4>

  <br />

  <!-- Number of posts posted -->
  <h2>
    Number of posts:
    <a>{{this.posts.length}}</a>
  </h2>
  <h4>
    See all posts ->
    <button class="btn btn-secondary" (click)="toggle('posts')">Posts</button>
  </h4>

  <section id="posts" class="content" data-bs-theme="dark">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Votes</th>
        </tr>
      </thead>

      <tbody>
        <!-- Loop through all their posts -->
        <tr *ngFor="let post of posts; index as i">
          <td><a [routerLink]="['/detailedpost', post.PostId]">{{ post.Title }}</a></td>
          <td>{{post.PostDate | simpleDateFormat}}</td>
          <td>{{post.UpvoteCount}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <br />

  <!-- Number of comments commented -->
  <h2>
    Number of comments:
    <a>{{this.comments.length}}</a>
  </h2>
  <h4>
    See all comments ->
    <button class="btn btn-secondary" (click)="toggle('comments')">Comments</button>
  </h4>
  <section id="comments" class="content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Date</th>
          <th>Post</th>
        </tr>
      </thead>

      <tbody>
        <!-- Loop through all their comments -->
        <tr *ngFor="let comment of comments; index as i">
          <td>{{comment.CommentText}}</td>
          <td>{{comment.PostDate | simpleDateFormat}}</td>
          <td><a [routerLink]="['/detailedpost', comment.post.PostId]">{{ comment.post.Title }}</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <br />

  <!-- Number of votes voted -->
  <h2>
    Number of votes:
    <a>{{this.votes.length}}</a>
  </h2>
  <h4>
    See all votes ->
    <button class="btn btn-secondary" (click)="toggle('votes')">Votes</button>
  </h4>
  <section id="votes" class="content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Post</th>
          <th>Vote</th>
        </tr>
      </thead>

      <tbody>
        <!-- Loop through all their votes -->
        <tr *ngFor="let vote of votes; index as i">
          <td><a [routerLink]="['/detailedpost', vote.post.PostId]">{{ vote.post.Title }}</a></td>
          <td>{{vote.Vote}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- THE COLLAPSIBLE ELEMENT'S STYLE AND LOGIC IS FROM W3SCHOOLS: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol -->
  <style>
    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

      .active, .collapsible:hover {
        background-color: #555;
      }

      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

    .active:after {
      content: "\2212";
    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      /*background-color: #f1f1f1;*/
    }
  </style>
</div>
